// Import page-specific CSS files here.
@import "home";

.bg-image{
  background-image: url('index/vinyl-7607944_1280.jpg');
  background-size: cover;

}

.carousel-wrapper{
  height: 700px;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.6;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card{
  transition: all 0.2s ease;
  cursor: pointer;
  span{
    font-size: small;
    visibility: hidden;
    text-align: end;
    color: rgb(116, 116, 116);;
  }
}
.card:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1);
  small{
    font-weight: bold;
  }
  span{
    visibility: visible;
  }
  a{
    background-color: rgb(30, 221, 136);
    border-color: rgb(30, 221, 136);
    color: rgb(0, 0, 0)
  }
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
