.product-background {
  background-image: url('/assets/vinyla.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px;
  color: rgb(255, 255, 255);
  border-radius: .25rem;
}
.product-background img {
  display: none;
}

.text-overlay {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejorar la legibilidad del texto */
  padding: 60px;
  border-radius: 25px;
}

.btn-disabled {
  background-color: #000000; /* Color de fondo similar al botón */
  border: 1px solid #000; /* Bordes similares */
  color: #ffffff; /* Color del texto */
  padding: 0.375rem 0.75rem; /* Espaciado similar al de un botón */
  border-radius: 0.25rem; /* Bordes redondeados */
  cursor: default; /* No interactivo */
  pointer-events: none; /* Deshabilitar interacciones */
  text-align: center; /* Alineación del texto */
}
