<div class="container-footer">
  <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex justify-content-center align-items-center flex-column">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      </a>
      <span class="mb-3 mb-md-0 text-center">© 2024 VINILO VIBES</span>
      <span class="mb-3 mb-md-0 text-center fs-7 d-block">Hecho por el team LATRU</span>
    </div>
  </footer>
</div>
