.navbar-vinilovibes {
  justify-content: space-between;
  background: rgb(0, 0, 0);
}

.navbar-vinilovibes .navbar-collapse {
  flex-grow: 0;
}

.navbar-vinilovibes .navbar-brand img {
  width: 40px;
}

.logo {
  width: 200px;
}

.navbar-nav .nav-link {
  color: white;
}

.welcome {
  color: white;
}


body {
  padding-top: 100px;
}
